<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="master.css">
</head>
<body>
  <div id="start" v-if="start" onclick="goList()">
      <div class="start" onclick="goList()"> {{ nameStart }} <br></div>
      <div id='aayaStart' onclick="goList()"> {{ aayaStart }}</div>
    </div>

    <div id="app">
      <div id="list" v-if="Firstlist">
          <ol id="olList" style="list-style-type: none;">
            <li onclick="goListthaqafa()" style="margin-bottom: 20%; border: solid;"> {{sections[0]}} </li>
            <li onclick="goListalom()" style=" border: solid;"> {{sections[1]}} </li>
          </ol>
        </div>

        <div v-if="Listthaqafa" id="listthaqafa">
          <ul id="navbar" v-if="linavbar">
           <li class="linavbar"><a class="active" onclick="goListReturn()"> رجوع </a></li>
         </ul>
          <ol style="list-style-type: none;">
            <li onclick="go()"style=" border: solid;">{{listthaqafa[0]}}</li>
            <li onclick="go()"style=" border: solid;">{{listthaqafa[1]}}</li>
            <li onclick="go()"style=" border: solid;">{{listthaqafa[2]}}</li>
            <li onclick="go()"style=" border: solid;">{{listthaqafa[3]}}</li>
            <li onclick="go()"style=" border: solid;">{{listthaqafa[4]}}</li>
            <li onclick="go()"style=" border: solid;">{{listthaqafa[5]}}</li>
          </ol>
        </div>

    <div v-if="Listalom" id="listalom">
      <ul id="navbar" v-if="linavbar">
       <li class="linavbar"><a class="active" onclick="goListReturn()"> رجوع </a></li>
     </ul>
      <ol style="list-style-type: none;">
        <li onclick="goArabic()" style=" border: solid;" >{{listalom[0]}}</li>
        <li onclick="goQuran()" style=" border: solid;" >{{listalom[1]}}</li>
        <li onclick="goHadith()" style=" border: solid;" >{{listalom[2]}}</li>
        <li onclick="goSyrah()" style=" border: solid;" >{{listalom[3]}}</li>
        <li onclick="goTarikh()" style=" border: solid;" >{{listalom[4]}}</li>
        <li onclick="goAqydah()" style=" border: solid;" >{{listalom[5]}}</li>
      </ol>
    </div>

      <!-- قائمة الثقافة:    انتظار التسجيل  -->
    <!-- <div class="thaqafa">
      <ul id="navbar" v-if="linavbar">
       <li class="linavbar"><a class="active" onclick="goListReturn()">رجوع</a></li>
     </ul>
    </div> -->


    <div class="alalom" v-if="hadith" id="arabic">
      <ul id="navbar" class="bigsize" class="bigsize" v-if="linavbaralom">
       <li class="linavbar"><a class="active" onclick="goalomListReturn()"> رجوع </a></li>
     </ul>
      <iframe src="https://www.youtube.com/embed/qSj_Q8hUJr4" frameborder="0" allow="accelerometer; autoplay;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
      <ol style="margin:2% 3% 0% 4%;  font-size: 3.1em; font-weight:850; border: solid;">
        <li>{{arabicalom[0]}}<br>{{arabicConsistsOf[0][1]}}<br>{{arabicConsistsOf[0][2]}}<br>{{arabicConsistsOf[0][3]}}<br>{{arabicConsistsOf[0][4]}}<br>{{arabicConsistsOf[0][5]}}<br>{{arabicConsistsOf[0][6]}}<br>{{arabicConsistsOf[0][7]}}<br>{{arabicConsistsOf[0][8]}}<br>{{arabicConsistsOf[0][9]}}<br>{{arabicConsistsOf[0][10]}}</li><p>
        <li>{{arabicalom[1]}}<br>{{arabicConsistsOf[1][1]}}<br>{{arabicConsistsOf[1][2]}}<br>{{arabicConsistsOf[1][3]}}<br>{{arabicConsistsOf[1][4]}}<br>{{arabicConsistsOf[1][5]}}<br>{{arabicConsistsOf[1][6]}}<br>{{arabicConsistsOf[1][7]}}<br>{{arabicConsistsOf[1][8]}}<br>{{arabicConsistsOf[1][9]}}<br>{{arabicConsistsOf[1][10]}}</li><p>
        <li>{{arabicalom[2]}}<br>{{arabicConsistsOf[2][1]}} <span onclick="gourl('https://www.youtube.com/watch?v=JK_J97ueOno')">https://www.youtube.com/watch?v=JK_J97ueOno</span></li><p>
        <li>{{arabicalom[3]}}<br>{{arabicConsistsOf[3][1]}}<br>{{arabicConsistsOf[3][2]}}</li><p>
        <li>{{arabicalom[4]}}<br>{{arabicConsistsOf[4][1]}}</li><p>
        <li>{{arabicalom[5]}}<br>{{arabicConsistsOf[5][1]}}<br>{{arabicConsistsOf[5][2]}}<br>{{arabicConsistsOf[5][3]}}</li><p>
        <li>{{arabicalom[6]}}<br>{{arabicConsistsOf[6][1]}}<br>{{arabicConsistsOf[6][2]}}<br>{{arabicConsistsOf[6][3]}}<br>{{arabicConsistsOf[6][4]}}</li><p>
        <li>{{arabicalom[7]}}<br>{{arabicConsistsOf[7][1]}}<br>{{arabicConsistsOf[7][2]}}<br>{{arabicConsistsOf[7][3]}}<br>{{arabicConsistsOf[7][4]}}<br>{{arabicConsistsOf[7][5]}}<br>{{arabicConsistsOf[7][6]}}<br>{{arabicConsistsOf[7][7]}}<br>{{arabicConsistsOf[7][8]}}<br>{{arabicConsistsOf[7][9]}}<br>{{arabicConsistsOf[7][10]}}<br>{{arabicConsistsOf[7][11]}}<br>{{arabicConsistsOf[7][12]}}<br>{{arabicConsistsOf[7][13]}}<br>{{arabicConsistsOf[7][14]}}<br>{{arabicConsistsOf[7][15]}}<br>{{arabicConsistsOf[7][16]}}</li><p>
      </ol>
    </div>

    <div class="alalom" v-if="quran" id="quran">
      <ul id="navbar" class="bigsize" v-if="linavbaralom">
       <li class="linavbar"><a class="active" onclick="goalomListReturn()"> رجوع </a></li>
     </ul>
      <div id="video"><iframe src="https://www.youtube.com/embed/xKCnphE-ffA" frameborder="0" allow="accelerometer; autoplay;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" ></iframe>
      <ol style="margin:2% 3% 0% 4%; font-size: 3.1em; font-weight:850; border: solid;">
        <li>{{quranalom[0]}}<br>{{quranConsistsOf[0][1]}}<br>{{quranConsistsOf[0][2]}}<br>{{quranConsistsOf[0][3]}}<br>{{quranConsistsOf[0][4]}}<br>{{quranConsistsOf[0][5]}}<br>{{quranConsistsOf[0][6]}}<br>{{quranConsistsOf[0][7]}}<br>{{quranConsistsOf[0][8]}}<br>{{quranConsistsOf[0][9]}}<br>{{quranConsistsOf[0][10]}}<br>{{quranConsistsOf[0][11]}}<br>{{quranConsistsOf[0][12]}}<br>{{quranConsistsOf[0][13]}}</li><p>
          <li>{{quranalom[1]}}<br>{{quranConsistsOf[1][1]}}<br>{{quranConsistsOf[1][2]}}<br>{{quranConsistsOf[1][3]}}<br>{{quranConsistsOf[1][4]}}<br>{{quranConsistsOf[1][5]}}</li><p>
          <li>{{quranalom[2]}}<br>{{quranConsistsOf[2][1]}}<br>{{quranConsistsOf[2][2]}} <!--<span onclick="gourl('https://www.youtube.com/watch?v=JK_J97ueOno')">https://www.youtube.com/watch?v=JK_J97ueOno</span>--></li><p>
          <li>{{quranalom[3]}}<br>{{quranConsistsOf[3][1]}}<br>{{quranConsistsOf[3][2]}}<br>{{quranConsistsOf[3][3]}}<br>{{quranConsistsOf[3][4]}}<br>{{quranConsistsOf[3][5]}}</li><p>
          <li>{{quranalom[4]}}<br>{{quranConsistsOf[4][1]}}<br>{{quranConsistsOf[4][2]}}<br>{{quranConsistsOf[4][3]}}<br>{{quranConsistsOf[4][4]}}</li><p>
          <li>{{quranalom[5]}}<br>{{quranConsistsOf[5][1]}}<br>{{quranConsistsOf[5][2]}}<br>{{quranConsistsOf[5][3]}}<br>{{quranConsistsOf[5][3]}}<br>{{quranConsistsOf[5][5]}}<br>{{quranConsistsOf[5][6]}}<br>{{quranConsistsOf[5][7]}}</li><p>
          <li>{{quranalom[6]}}<br>{{quranConsistsOf[6][1]}}<br>{{quranConsistsOf[6][2]}}</li><p>
          <li>{{quranalom[7]}}<br>{{quranConsistsOf[7][1]}}<br>{{quranConsistsOf[7][2]}}<br>{{quranConsistsOf[7][3]}}<br>{{quranConsistsOf[7][4]}}<br>{{quranConsistsOf[7][5]}}<br>{{quranConsistsOf[7][6]}}<br>{{quranConsistsOf[7][7]}}<br>{{quranConsistsOf[7][8]}}<br>{{quranConsistsOf[7][9]}}<br>{{quranConsistsOf[7][10]}}<br>{{quranConsistsOf[7][11]}}</li><p>
          <li>{{quranalom[8]}}<br>{{quranConsistsOf[8][1]}}</li><p>

      </ol>
    </div>

    <div class="alalom" v-if="arabic" id="hadith">
      <ul id="navbar" class="bigsize" v-if="linavbaralom">
       <li class="linavbar"><a class="active" onclick="goalomListReturn()"> رجوع </a></li>
     </ul>
      <iframe src="https://www.youtube-nocookie.com/embed/vO4bivZ9VCs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" ></iframe>
    </div>

    <div class="alalom" v-if="syrah" id="syrah">
      <ul id="navbar" class="bigsize" v-if="linavbaralom">
       <li class="linavbar"><a class="active" onclick="goalomListReturn()"> رجوع </a></li>
     </ul>
      <iframe src="https://www.youtube-nocookie.com/embed/zD3-FY79JHQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" ></iframe>
    </div>

    <div class="alalom" v-if="tarikh" id="tarikh">
      <ul id="navbar" class="bigsize" v-if="linavbaralom">
       <li class="linavbar"><a class="active" onclick="goalomListReturn()"> رجوع </a></li>
     </ul>
      <iframe src="https://www.youtube-nocookie.com/embed/MVg0RwIUJNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" ></iframe>
    </div>

    <div class="alalom" v-if="aqydah" id="aqydah">
      <ul id="navbar" class="bigsize"  v-if="linavbaralom">
       <li class="linavbar"><a class="active" onclick="goalomListReturn()"> رجوع </a></li>
     </ul>
      <iframe src="https://www.youtube-nocookie.com/embed/sbbax79XfAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" ></iframe>
    </div>

  </div>

    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
