@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
/* font-family: 'Lateef', serif; */
html{
  background-color: snow;
}
#start{
font-family: 'Lateef', serif;
/* display: block; */
text-align: center;
margin: inherit;
font-size: 5.9em;
padding: inherit;
font-weight: 650;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
.start{
  margin: 60% 5% 0% 5%;
  font-size: 1.2em;
  color: #4d81b1;
}
#aayaStart{
margin: 5% 5% 0% 5%;
font-size: 0.6em;
color: #4CAF50;
}
#list{
  /* display: none; */
  font-family: 'Lateef', serif;
  font-size: 4.4em;
  text-align: center;
  color: #4d81b1;
  margin: inherit;
  padding: inherit;
  font-weight: 800;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#listthaqafa{
  font-family: 'Lateef', serif;
  font-size: 4.4em;
  text-align: center;
  color: #4d81b1;
  margin: inherit;
  padding: inherit;
  font-weight: 800;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#listalom{
  font-family: 'Lateef', serif;
  font-size: 4.4em;
  text-align: center;
  color: #4d81b1;
  margin: inherit;
  padding: inherit;
  font-weight: 800;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.linavbar {
  float: right;
  list-style-type: none;
  font-family: 'Lateef', serif;
}

.bigsize {
  font-size: 4.4em;
  color: black;
}

li a {
  font-family: 'Lateef', serif;
  text-align: center;
  text-decoration: none;
}

li a:hover:not(.active) {
  font-family: 'Lateef', serif;
  background-color: #111;
}

.active {
  font-family: 'Lateef', serif;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 0.9em;
  /* padding-left: 130%;
  padding-bottom: 100% */
}
href{
  color: black;
  text-decoration: block;
}


ol{
  margin: 45% 10% 0% 10%;
}
#olList{
 margin: 70% 10% 0% 10%;
}
span{
 color: #4CAF50;
}
.alalom{
  text-align: right;
  font-family: 'Lateef', serif;
  font-weight: 450;
  margin: inherit;
  padding: inherit;
  width: 100%;
  height: 100%;
  position: absolute
  top: 0;
  left: 0;
}
#video{
  text-align: center;
}
iframe {
  margin: 6% 8% 2% 8%;
  padding: inherit;
}
